name: Deploy Portal

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Portal
    runs-on: self-hosted

    steps:
      - name: Deploy frontend Application
        run: |
          set -e

          echo "Starting deployment..."

          cd /var/www/diet-portal.metropolisindia.com

          echo "Pulling latest code..."
          git pull origin main

          echo "Installing dependencies..."
          npm install

          echo "Executing npm run build..."
          npm run build

          echo "Restarting portal service..."
          sudo systemctl restart portal.service

          echo "Deployment successful"

